.dummyDiv {
  width: 200px;
  height: 100px;
  border: solid 4px grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes appearAnimation {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes disappearAnimation {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

.dummyDiv-enter-active {
  animation-name: appearAnimation;
  animation-duration: 1.5s;
}

.dummyDiv-exit-active {
  animation-name: disappearAnimation;
  animation-duration: 1.5s;
}

@keyframes questionnaireFadeIn {
  0% {
    opacity: 0;
    transform: translateX(-70px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes questionnaireFadeLeftOut {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(70px);
  }
}

.transitionDiv-enter {
  animation: questionnaireFadeIn ease 1s;
}

.transitionDiv-appear {
  animation: questionnaireFadeIn ease 1s;
}

.transitionDiv-exit {
  opacity: 0;
}
.transitionDiv-exit-active {
  animation: questionnaireFadeLeftOut ease 1s;
}
